@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


:root {
	/*column colors*/
	--column1-color: hsl(31, 77%, 52%);
	--column2-color: hsl(184, 100%, 22%);
	--column3-color: hsl(179, 100%, 13%);

	/*Text colors*/
	--paragraph-color: hsla(0, 0%, 100%, 0.75);
	--heading-color: hsl(0, 0%, 95%);
}

body {
	font-size: 15px;
}

.column-container {
	display: flex;
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
}

.column {
	padding: 50px;
}

.sedans {
	background-color: var(--column1-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.sedans .learn-more-btn {
	color: var(--column1-color);
}

.suvs {
	background-color: var(--column2-color);
}

.suvs .learn-more-btn {
	color: var(--column2-color);
}

.luxury {
	background-color: var(--column3-color);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.luxury .learn-more-btn {
	color: var(--column3-color);
}

.column-title {
	font-family: "Big Shoulders Display";
	color: var(--heading-color);
}

.column-description {
	font-family: "Lexend Deca";
	color: var(--paragraph-color);
	margin-bottom: 70px;
}

.learn-more-btn {
	background-color: var(--heading-color);
	border-style: solid;
	border-color: var(--heading-color);
	font-family: "Lexend Deca";
	padding: 10px 15px 10px 15px;
	border-radius: 20px;
	transition: background-color 200ms, color 200ms; 
}

.learn-more-btn:hover {
	background-color: transparent;
	color: var(--heading-color);
}

@media (max-width: 810px) {
	.column-container {
		flex-direction: column;
		width: auto;
		top: 0;
		left: 0;
		transform: none;
		margin: 20px;
	}
	.sedans {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}

	.luxury {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 0;
	}
}